<style>
    .title {
        /*font-family: 'Times New Roman', Times, serif;*/

    }

    .span-red{
        color: rgb(220, 5, 5);
        font-family: "helvetica", sans-serif;
        font-weight: bold;
    }

    .span-green{
        color: rgb(0, 90, 0);
        font-family: "helvetica", sans-serif;
        font-weight: bold;
    }

    .intro {
        color: #666;
        font-size: 1em;
        font-style: oblique;
        font-weight: bold;
    }

    .tip {
        border: thin solid #004488;
        background-color: #7AA7FF;

        padding: 0.75em;
        color: #F5F8FF;
        text-shadow: 1px 1px 2px #0053fa;
        font-weight: bold;

    }

    .tip:before {
        content: 'TIP: ';
    }

    .special {
/*                background-color: #0D0D0D;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
        font-family: 'Times New Roman', Times, serif;
*/
        border-bottom: dashed 1.5px black;
        font-style: oblique;
    }


    .term {
        font-weight: bold;
    }

    .document-title {
        font-size: 4em;
        font-family: 'helvetica';
        text-align: center;
    }

    .document-subtitle{
        font-size: 3em;
        opacity: 0.7;
        font-family: 'helvetica';
        text-align: center;

    }

    .title-chapter {

    }

    .title-section {

    }

    .author {
    	text-align: right;
    	font-weight: bold;

    }

    table td {
        padding: 5px;
        border: thin solid black;
    }
</style>

<div class='container'>
	<div class='row'>
		<div class='col-md-12 document-title'>{{document.title}}</div>
	</div>
	<div class='row'>
		<div class='col-md-12 document-subtitle'>{{document.subtitle}}</div>
	</div>
<!-- 	<div class='row'>
		<div class='col-md-12 author'>By {{document.author}}</div>
	</div> -->	
	<hr>
	<div ng-repeat='chapter in document.chapters'>
		<div class='section-chapter'>
		    <div class='row'>
		        <h2 class='title-chapter'>{{chapter.title}}</h2>
		    </div>
		    <div class='row'>
		        <div class='chapter-summary'>
		        	{{chapter.summary}}
		        </div>
		        <hr>
		    </div>
		    <div class='section-section' ng-repeat='section in chapter.sections'>
		        <div class='row'>
		            <h3 class='title-section'>{{section.title}}</h3>
		        </div>
		        <div class='row'>
		            <div class='col-md-1'>
		            </div>
		            <div class='col-md-10' ng-init='sectionBodyHtml = trustAsHtml(section.body)'>
		            	<span ng-bind-html='sectionBodyHtml'>
			            	{{sectionBodyHtml}}
			            </span>
		            </div>
		        </div>
		    </div>
		</div>        
	</div>
</div>




